.video-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}
video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
  .main-navigation .explorer-menu ul li.b-app:hover::before {
    transform: rotate(180deg);
}

.main-navigation .explorer-menu ul li.b-app::before {
    content: "";
    width: 16px;
    height: 46px;
    display: inline-block;
    right: -20px;
    position: absolute;
    margin-top: 10px;
}
/* Style the button that triggers the dropdown */
.dropdown1 {
    position: relative;
    display: inline-block;
    margin-top: -1763px;
    margin-left: 684px;
    
  }
  
.dropbtn1 {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Style the dropdown content (hidden by default) */
.dropdown1-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown1-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #333;
}

/* Change the link color when hovering */
.dropdown1-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown when the button is hovered */
.dropdown1:hover .dropdown1-content {
    display: block;
}